.photo {
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  border: 5px solid #fff5f4;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1em;
  min-width: 100%;
  min-height: 100vw;
  position: relative;
}

.photo .photo--details {
  background-color: rgba(255, 245, 244, 0.3);
  display: none;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.photo:hover .photo--details {
  display: block;
}

.photo .photo--content {
  background-color: rgba(255, 245, 244, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  right: 0;
}

.photo .photo--title {
  color: #000;
  font-weight: bold;
  padding-bottom: 0.5em;
  word-break: break-word;
}

.photo .photo--owner {
  color: black;
}

.photo .photo--owner a {
  text-decoration: none;
  color: #94436c;
  word-break: break-all;
}

.photo .photo--owner a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 481px) {
  .photo {
    min-width: 45vw;
    min-height: 45vw;
  }

  .photo:nth-child(2n) {
    margin-left: 5vw;
  }
}

@media screen and (min-width: 721px) {
  .photo {
    min-width: 30vw;
    min-height: 30vw;
  }

  .photo:nth-child(n) {
    margin-left: 1vw;
  }
}

@media screen and (min-width: 961px) {
  .photo {
    min-width: 20vw;
    min-height: 20vw;
  }

  .photo:nth-child(n) {
    margin-left: 2em;
  }
}
